<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <title>404 Error</title>
    </head>
    <body class="bg-dark">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="jumbotron min-vh-100 text-center m-0 bg-dark d-flex flex-column justify-content-center">
                        <h1 class="display-4 text-white">404</h1>
                        <p class="lead text-white">Oops, The Page you are looking for can't be found!</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg text-white" href="{{ url_for('index') }}" role="button">Back</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
