{% extends "base.html" %}

{% block title%}Edit Cuisine{%endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{url_for('showRecipes', cuisine_id=cuisine.id)}}">{{cuisine.name}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Edit Cuisine</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            <h4>Edit {{cuisine.name}}</h4>
        </div>
    </div>

    <div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                 <div class="form-group mx-sm-3 mb-2">
                    {{ form.name.label(for='name') }}
                    {{ form.name(id='name', class="form-control") }}
                    {% for error in form.name.errors %}
                        <span class="alert alert-danger d-inline-block" role="alert">{{ error }}</span>
                    {% endfor %}
                </div>
                <br>
                <div class="form-group mx-sm-3 mb-2">
                    {{ form.submit(class='btn btn-primary mx-sm-3 mb-2') }}
                    <a href = "{{url_for('showRecipes', cuisine_id=cuisine.id)}}" class="btn btn-primary mx-sm-3 mb-2">
                        Cancel
                    </a>
                </div>
            </form>
		</div>
	</div>
{% endblock %}
